@import "../../colors.scss";
@import "../../base.scss";

.active-city-card-wrapper {
  display: flex;
  justify-content: center;
}

.active-city-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  top: 210px;
  width: cardSectionWidth();
}

.no-cities-placeholder {
  flex: auto;
}

/* media queries */

@media screen and (max-width: 999px) {
  .active-city-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
