@import "../../colors.scss";

$card-width: 200px;
$card-spacing: 40px;
$cards-per-row: 3;
$card-border-width: 2px;
$card-padding: 10px;

@function cardSectionWidth() {
  @return ($cards-per-row * $card-width) +
    (($cards-per-row - 1) * $card-spacing) +
    ($cards-per-row * 2 * $card-border-width) +
    ($cards-per-row * 2 * $card-padding);
}

.active-city-card-wrapper {
  display: flex;
  justify-content: center;
}

.active-city-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  top: 192px;
  width: cardSectionWidth();
}

.city-card {
  border: $card-border-width solid $color-dark;
  border-radius: 4px;
  padding: $card-padding;
  width: $card-width;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: $card-spacing;
  margin-bottom: $card-spacing;
  &:hover {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  }
}

.city-card:nth-child(3n) {
  margin-right: 0;
}

.min-temp-label,
.max-temp-label {
  margin-right: 10px;
}

/* media queries */

@media screen and (max-width: 999px) {
  .active-city-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .city-card {
    margin-right: 0;
  }
}
