@import "../../colors.scss";

.city-input-field {
  padding: 8px;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid $color-dark;
  font-family: inherit;
}

.loading-data-indicator {
  margin: 16px 0px;
}
